<!-- CDS SITE SEAL -->
<div class='site-trust-seal'>
        <div class='trust-seal-link container'>
          <div class='row'>
            <div class='col ml-2 trust-seal-link-container'  data-toggle="collapse" data-target="#trust-seal-content" role="button"
            aria-expanded="false" aria-controls="trust-seal-content">
              <img src='{{ site.CDNurl }}{{ site.baseCDNurl }}img/safari-pinned-tab.svg' class='trust-seal-flag' title='Flag'>
              <div>
                <span>An official website of the City of Chicago</span>
                <button class="trust-seal-action" title='Here’s how you know' 
                    data-target="#trust-seal-content" role="button"
                    data-toggle="collapse" 
                    aria-expanded="false" aria-controls="trust-seal-content">
                  <span>Here’s how you know</span>
                </button> 
              </div>                    
            </div>
          </div>
        </div>
        <div class='trust-seal-content collapse container mt-4' aria-hidden='true' id='trust-seal-content'>
          <div class='row'>
            <div class='col-sm-6'>
                <div class="media">
                    <img class="mr-3 trust-seal-icon" src="{{ site.CDNurl }}{{ site.baseCDNurl }}img/icon-dot-gov.svg" alt="Generic placeholder image">
                    <div class="media-body">
                    <h5 class="mt-0">The .gov means it’s official.</h5>
                    Municipal government websites often end in .gov or .org. Before sharing sensitive information, make sure you’re on a City of Chicago government site.
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class="media">
                    <img class="mr-3 trust-seal-icon" src="{{ site.CDNurl }}{{ site.baseCDNurl }}img/icon-https.svg" alt="Generic placeholder image">
                    <div class="media-body">
                    <h5 class="mt-0">The site is secure.</h5>
                    The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                    </div>
                </div>            
            </div>          
          </div>                
        </div>          
      </div>  