---
---
{% assign title = page.title | default: site.title | escape %}
{% assign description = page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 %}
{% assign author = page.author | default: site.twitter_authorname | escape %}

<!doctype html>
<html lang="en">
  <head>
  <meta name="description" content="{{ description }}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CDS Bootstrap Implementation -->
  <link rel="stylesheet" href="{{ site.CDNurl }}{{ site.baseCDNurl }}css/main.min.css" type="text/css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="{{ site.CDNurl }}FontAwesome-5.13.0/css/all.min.css" type="text/css">
  <!-- Datepicker -->
  <link rel="stylesheet" href="{{ site.CDNurl }}{{ site.baseCDNurl }}css/datepicker.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.CDNurl }}{{ site.baseCDNurl }}css/datepicker-cds.css" type="text/css" />

{% comment %}
    <!-- 
     a blend of FB & TW, see 
    // jdk::: see: https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nytimesbits" />
    <meta name="twitter:creator" content="@nickbilton" />
    <meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
    <meta property="og:title" content="A Twitter for My Sister" />
    <meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
    <meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />
    <meta name="twitter:url" content="https://www.popupmagazine.com/">
    <meta name="twitter:creator" content="@author/">
      -->

      <!-- Add to homescreen for Chrome on Android 
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="application-name" content="Pop-Up Magazine">
      <link rel="icon" sizes="32x32" href="/images/icons/icon-32x32.png">
      <link rel="icon" sizes="192x192" href="/images/icons/chrome-touch-icon-192x192.png">

      <link rel="shortcut icon" sizes="16x16" href="/images/icons/favicon.ico">
      <link rel="shortcut icon" sizes="32x32" href="/images/icons/icon-32x32.png">
      -->
      <!-- Add to homescreen for Safari on iOS 
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="apple-mobile-web-app-title" content="Pop-Up Magazine">
      <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
      -->
      <!-- Tile icon for Win8 (144x144 + tile color)
      <meta name="msapplication-TileImage" content="/images/icons/ms-touch-icon-144x144-precomposed.png">
      <meta name="msapplication-TileColor" content="#FFC900">
       -->
      <!-- Color the status bar on Android 
      <meta name="theme-color" content="#FFC900">
     -->
    <!-- 1200x 628-900 (linked image 628, fb image 900, highlighted image 717) 2.7:1 or 16:9 event -->

{% endcomment %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ author }}/">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ site.image_social | prepend: site.baseurl | prepend: site.url }}" />

  <title>{{ title }}</title>

  <style>
    <!-- jdk::: We need to encapsulate all this css -->
    .flex-row.row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
    .flex-row .thumbnail,
    .flex-row .caption {
        flex: 1 0 auto;
        flex-direction: column;
    }
    .flex-text {
        flex-grow: 1
    }

    .featured-services .thumbnail  {
        padding: 0px;

    }

    .featured-services .thumbnail .caption h5{ 
      font-size: 1.1em;
    }

    .featured-services .thumbnail  img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        max-width: 100%;
        height: auto;
        background-color: #E4E9EB;

    }

    .featured-services .thumbnail {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

    }

    .featured-services .thumbnail:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.05);
      box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    }

    #infoSection .card-header { 
      border:0px;
    }
    

    .accordion-toggle.text-white a, .accordion-toggle.text-white::after {
      color:#FFF; 
    }
  </style>
  </head>
  <body>
  {% include trust-seal.html %}

<!-- CDS NAVBAR -->
<header class="cds-header" role="banner">
  <div class="cds-navbar">
    <button class="cds-menu-btn">MENU</button>
    <div class="cds-logo" id="logo">
      <em class="cds-logo-text">
        <a href="/design-system-site/" title="Home">
          <img src="{{ site.CDNurl }}{{ site.baseCDNurl }}img/chicago.gov-logo.png" alt="Logo of the City of Chicago">
          <h1 class="cds-header-title">Chicago</h1>
        </a>
      </em>
    </div>
  </div>
  <!--Start Navigation-->
<nav role="navigation" class="cds-nav">
    <div class="cds-nav-inner">
      <button class="cds-nav-close">
        <img src="{{ site.CDNurl }}{{ site.baseCDNurl }}img/close.svg" alt="close">
      </button>
      <ul class="cds-nav-primary cds-accordion">
        <li><a class="cds-nav-link" href="/design-system-site/"><span>Home</span></a></li>
  

        {% assign _primary = header.primary.links %}
      {% assign primary_links = site.data.navigation[_primary] | default: _primary %}
      {% if primary_links %}
      la la la 
      {% endif %}
       
        <li>
          <button class="cds-accordion-button cds-nav-link" aria-expanded="false" aria-controls="nav-pi">
            <span>Programs & Initiatives</span>
          </button>
          <div id="nav-pi" class="cds-nav-submenu cds-nav-megamenu row"  aria-hidden="true">
            <div class="col-md-6">
      <ul>                        
      <li>
      <a title="Affordable Chicago" href="https://www.chicago.gov/city/en/progs/affordchic.html">Affordable Chicago</a>
      <a title="Chicago Census 2020" href="/contenthttps://www.chicago.gov/city/en/sites/census2020/home.html">Chicago Census 2020</a>
      <a title="Consumer Protection" href="https://www.chicago.gov/city/en/progs/protect.html">Consumer Protection</a>
      <a title="Education" href="https://www.chicago.gov/city/en/progs/edu.html">Education</a>
      <a title="Environment" href="https://www.chicago.gov/city/en/progs/env.html">Environment</a>
      <a title="Food Service Establishments" href="https://www.chicago.gov/city/en/ofinterest/bus/food.html">Food Service Establishments</a> 
      <a title="Freedom of Information (FOIA)" href="https://www.chicago.gov/city/en/progs/foia.html">Freedom of Information (FOIA)</a>
      <a title="Grants" href="https://www.chicago.gov/city/en/progs/grants.html">Grants</a>
      <a title="Grounds for Peace" href="https://www.chicago.gov/city/en/progs/grounds_for_peace.html">Grounds for Peace</a>
      <a title="Health &amp; Wellness" href="https://www.chicago.gov/city/en/progs/health.html">Health &amp; Wellness</a>
      <a title="Housing" href="https://www.chicago.gov/city/en/depts/doh.html">Housing</a>

      </li>
      </ul>
        
            </div>
            <div class="col-md-6">
        <ul>
        <li>
        <a title="Inspections, Permitting &amp; Licensing" href="https://www.chicago.gov/city/en/progs/inspectionspermitting.html">Inspections, Permitting &amp; Licensing</a>
        <a title="Jobs" href="https://www.chicago.gov/city/en/progs/emp.html">Jobs</a>
        <a title="Municipal Marketing" href="https://www.chicago.gov/city/en/progs/municipal_marketing.html">Municipal Marketing</a>
        <a title="Our City. Our Safety." href="https://www.chicago.gov/summer">Our City. Our Safety.</a>
        <a title="Safety" href="https://www.chicago.gov/city/en/progs/safety.html">Safety</a>
        <a title="Sustain Chicago" target="_blank" href="https://sustainchicago.cityofchicago.org/">Sustain Chicago</a>
        <a title="Taxes" href="https://www.chicago.gov/city/en/progs/tax.html">Taxes</a>
        <a title="Technology" href="https://www.chicago.gov/city/en/progs/tech.html">Technology</a>
        <a title="Transparency" href="https://www.chicago.gov/city/en/progs/transparency.html">Transparency</a>
        <a title="Transportation" href="https://www.chicago.gov/city/en/progs/trnsprt.html">Transportation</a>                        

        </li>
        </ul>
        
            </div>
          </div>
        </li>
            
        
        <li>
          <button class="cds-accordion-button cds-nav-link" aria-expanded="false" aria-controls="nav-5">
            <span>Government</span>
          </button>
          <ul id="nav-5" class="cds-nav-submenu" aria-hidden="true">
              <li><a href="#">Page title</a></li>
              <li><a href="#">Page title one</a></li>
              <li><a href="#">Page title two</a></li>
              <li><a href="#">Link</a></li>
          </ul>
        </li>

   <li>
          <button class="cds-accordion-button cds-nav-link" aria-expanded="false" aria-controls="nav-about">
            <span>About</span>
          </button>
          <ul id="nav-about" class="cds-nav-submenu" aria-hidden="true">
              <li><a title="Chicago History" href="https://www.chicago.gov/city/en/about/history.html">Chicago History</a></li>
              <li><a title="Facts &amp; Statistics" href="https://www.chicago.gov/city/en/about/facts.html">Facts &amp; Statistics</a></li>
              <li><a title="Attractions" href="https://www.choosechicago.com/" target="_blank">Attractions</a></li>       
          </ul>
        </li>
  </ul>   
      <div class="cds-nav-secondary">
        <ul class="cds-unstyled-list cds-nav-secondary-links">
            <li><a href="#"><span>Accessibility </span></a></li>
            <li>
              <a href="#">
                External link
              </a>
            </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<!-- CONTENT-->

{{ content }}

<!-- CDS SITE FOOTER -->
<footer class="mt-4">
    <div class="footer-primary">
      <div class="footer-primary-nav container" role="navigation">
        <a href="#">Home</a>
        <a href="#">Disclaimer</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Web Standards</a>
        <a href="#">Site Credits</a>
        <a href="#">Site Map</a>      
      </div>
    </div>
    <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
    
          <div class="media footer-media">
            <img class="align-self-center mr-3" src="{{ site.CDNurl }}{{ site.baseCDNurl }}img/city_seal_clr.png" alt="City of Chicago">
            <div class="media-body align-self-center">
              <h3 class="mt-0">City of Chicago</h3>
            </div>
            </div>

        </div>
        <div class="col-sm-6">
          <div class="footer-main-right">
            <div class="footer-social-links">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="footer-contact">
                <h4>Contact Info</h4>
            </div>
            <div class="footer-contact-links">
                <a href="#">info@chicago.gov</a>
                <a href="#">(312)-774-2828</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jdk::: I don't think we need those old USWDS includes? I wonder how much of this we can update as well? -->
    <script src="{{ site.CDNurl }}jQuery-3.4.1/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="{{ site.CDNurl }}Bootstrap-4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ site.CDNurl }}{{ site.baseCDNurl }}js/uswds.min.js"></script>
    <script src="{{ site.CDNurl }}{{ site.baseCDNurl }}js/datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js
"></script>

<script>

var ctxLaunched = document.getElementById('launchedChart').getContext('2d');
var ctxUpdated = document.getElementById('updatedChart').getContext('2d');
var ctxDeptCounts = document.getElementById('deptCountsChart').getContext('2d');
//var ctxDeptVisitsDownloads = document.getElementById('deptVisitsDownloadsChart').getContext('2d');
//var ctxDeptRows = document.getElementById('deptRowsChart').getContext('2d');
var ctxLastChart = document.getElementById('lastChart').getContext('2d');


async function getData(address) {
  //const response = await fetch('https://data.cityofchicago.org/resource/2kfw-zvte.json?$select=date_trunc_ymd(start_time)%20as%20day,count(start_time)%20as%20count&$group=day')

  // public datasets launched = https://data.cityofchicago.org/resource/ip5i-wfzw.json?$select=date_trunc_ym(creation_date)%20as%20month,count(creation_date)%20as%20count&$group=month&$where=Audience=%22public%22&type=%27dataset%27&$order=month

  // public datasets last updated = https://data.cityofchicago.org/resource/ip5i-wfzw.json?$select=date_trunc_y(last_data_updated_date)%20as%20month,count(last_data_updated_date)%20as%20count&$group=month&$where=Audience=%22public%22&type=%27dataset%27&$order=month

  // all assets access counts = https://data.cityofchicago.org/resource/fbwj-4m2z.json?$select=date_trunc_ym(Timestamp)%20as%20month,count(Timestamp)%20as%20count&$group=month&$order=month

  // assets inventory visits + download by dept = https://data.cityofchicago.org/resource/ip5i-wfzw.json?$select=metadata_dataowner%20as%20department,sum(visits)%20as%20visits,sum(downloads)%20as%20downloads&$group=department

  // rows by department = https://data.cityofchicago.org/resource/ip5i-wfzw.json?$select=metadata_dataowner%20as%20department,sum(row_count)%20as%20count&$group=department&$where=Audience=%22public%22&type=%27dataset%27&$order=-count

  // datasets by department = https://data.cityofchicago.org/resource/ip5i-wfzw.json?$select=metadata_dataowner%20as%20department,count(department)%20as%20count&$group=department&$where=Audience=%22public%22&type=%27dataset%27&$order=-count

  // relative as of 2/20 8pm UTC

  // top 10 last 24 hours = https://data.cityofchicago.org/resource/fbwj-4m2z.json?$select=asset_name%20as%20department,sum(value)%20as%20count&$group=department&$where=timestamp%3E%272021-02-18T21:00:00.000%27&$order=-count&$limit=10

  // top 10 last week = https://data.cityofchicago.org/resource/fbwj-4m2z.json?$select=asset_name%20as%20department,sum(value)%20as%20count&$group=department&$where=timestamp%3E%272021-02-13T21:00:00.000%27&$order=-count&$limit=10

  // top 10 last month = https://data.cityofchicago.org/resource/fbwj-4m2z.json?$select=asset_name%20as%20department,sum(value)%20as%20count&$group=department&$where=timestamp%3E%272021-01-20T21:00:00.000%27&$order=-count&$limit=10

  // top 10 last year = https://data.cityofchicago.org/resource/fbwj-4m2z.json?$select=asset_name%20as%20department,sum(value)%20as%20count&$group=department&$where=timestamp%3E%272020-02-20T21:00:00.000%27&$order=-count&$limit=10

  const response = await fetch(address)
  const data = await response.json();

  // needs to be generalized just for basic labels and counts, timeseries and department

  var labels = data.map(function(row) {
    if (row.month) {
      return new Date(row.month);
    } else if (row.department) {
      if(row.department.length > 50) {
        return row.department.substring(0,49);
      } else return row.department;       
    }
  })
  var counts = data.map(function(row) {
    if (row.visits) {
      return parseInt(row.visits) + parseInt(row.downloads);
    } else if (row.count) {
      return row.count;
    } else if (row.visits) {
      return row.visits + row.downloads
    }
  })
  return {labels, counts}
} 

async function makeChart(ctx,data,type,options,lbl) {
  if (type=='line') {
    background='rgba(148,159,177,0.2)' 
  } else background='#66ACD6'
  return new Chart(ctx, {
    type: type,
    data: {
      labels: data.labels,
      datasets: [{
        label: lbl,
        borderColor: '#66ACD6',
        backgroundColor: background,
        borderWidth: 2,
        pointRadius: 0,
        data: data.counts,
        lineTension: 0.1
      }]
    },
    options: options
  });
}


async function start(){
  const launchedData = await getData('/json/launched-data.json')
  const updatedData = await getData('/json/updated-data.json')
  const deptCountsData = await getData('/json/department-counts.json')
//  const deptVisitsDownloadsData = await getData('/json/department-visits-downloads.json')
//  const deptRowsData = await getData('/json/department-rows.json')
  const dept24hoursData = await getData('/json/24-hours.json')
  const deptWeekData = await getData('/json/week.json')
  const deptMonthData = await getData('/json/month.json')
  const deptYearData = await getData('/json/year.json')


  timeOptions = {
    scales: {
      xAxes: [{
        type: 'time',
        time: {
          unit: 'year' 
        },
        ticks: {
          autoSkip: false,
        }
      }]
    }
  }

  timeOptionsOffset = {
    scales: {
      xAxes: [{
        type: 'time',
        time: {
          unit: 'year' 
        },
        offset: true,
        ticks: {
          autoSkip: false,
        }
      }]
    }
  }

  categoryOptions = {
    scales: {
      xAxes: [{
        categoryPercentage: 1.0,
        barPercentage: 1.0
      }]
    }
  }


  var launchedChart = makeChart(ctxLaunched, launchedData, 'line', timeOptions, 'Public Datasets Launched')
  var updatedChart = makeChart(ctxUpdated, updatedData, 'bar', timeOptionsOffset, 'Last Data Update') 
  var deptCountsChart = makeChart(ctxDeptCounts, deptCountsData, 'horizontalBar', categoryOptions, 'Public Dataset Count') 
//  makeChart(ctxDeptVisitsDownloads, deptVisitsDownloadsData, 'horizontalBar', categoryOptions, 'Public Dataset Visits and Downloads') 
//  makeChart(ctxDeptRows, deptRowsData, 'horizontalBar', categoryOptions, 'Public Dataset Row Counts') 
  var lastChart = makeChart(ctxLastChart, dept24hoursData, 'horizontalBar', categoryOptions, 'Last 24 hours')   

  document.getElementById('last24').addEventListener('click', function() {
    const update = () => {
      lastChart.then((lc) => {
        lc.data.labels = dept24hoursData.labels;
        lc.data.datasets.forEach((dataset) => {
          dataset.data = dept24hoursData.counts;
        });
        lc.update();
      });
    };
    update()
  });
  document.getElementById('lastWeek').addEventListener('click', function() {
    const update = () => {
      lastChart.then((lc) => {
        lc.data.labels = deptWeekData.labels;
        lc.data.datasets.forEach((dataset) => {
          dataset.data = deptWeekData.counts;
        });
        lc.update();
      });
    };
    update()
  });

  document.getElementById('lastMonth').addEventListener('click', function() {
    const update = () => {
      lastChart.then((lc) => {
        lc.data.labels = deptMonthData.labels;
        lc.data.datasets.forEach((dataset) => {
          dataset.data = deptMonthData.counts;
        });
        lc.update();
      });
    };
    update()
  });

  document.getElementById('lastYear').addEventListener('click', function() {
    const update = () => {
      lastChart.then((lc) => {
        lc.data.labels = deptYearData.labels;
        lc.data.datasets.forEach((dataset) => {
          dataset.data = deptYearData.counts;
        });
        lc.update();
      });
    };
    update()
  });

}

start()

</script>

    <!-- DATEPICKER Init-->
    <script>
    (function($) {
      $(function() {
        const getNavigatorLanguage = () => (navigator.languages && navigator.languages.length) ? navigator.languages[0] : navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en';
        $(".datepicker")
          .filter(function() {
            return !this.disabled && !this.readOnly;
          })
          .datepicker({ gainFocusOnConstruction: false, markup: 'bootstrap4' });
         $('#date13').datepicker('next', '#date14');
      });
    })(this.jQuery);
  </script>
  </body>
</html>
